.env
.env.*
!.env.example
!api/.env.example
!web/.env.example
!web/.env.production

api/.env
api/.env.backup
api/.env.production
api/vendor/
api/node_modules/
api/storage/logs/*
api/storage/framework/sessions/*
api/storage/framework/views/*
api/storage/framework/cache/data/*
api/bootstrap/cache/*.php
!api/bootstrap/cache/.gitignore
api/.phpunit.result.cache
api/.phpunit.cache

web/node_modules/
web/dist/
web/.astro/

.DS_Store
.idea
.vscode
*.log
